body {
    background-image: url('http://samratcliffe.github.io/images/spotifybg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
/* ========= SEARCH FORM ========== */

form {
    margin: 50px auto;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.panel {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
/* ========= HEADER ========== */
.top-bar {
    background: rgba(247, 247, 247, 0);
    height: 80px;;
    margin: 0 auto;
}
.top-bar p {
    color: rgba(235, 235, 235, 0.9);
    font: 32px roboto;
    text-align: center;
}
/* ========= FOOTER ========== */

footer {
    bottom: -200px;
    text-align: center;  font-size: 12px;
    padding: 10px;
    color: white;
}