<?php ?>

<div class="row" id="footer">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-footer" id="footer-left">
            <h3>CREDITS</h3>
        <p>
           <span id="mentions"><a href="#">
    Mentions légales
</a></span>
            <br/>
            <span id="love">Made with love by ODL</span>
        </p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-footer" id="footer-center">
        <h3>HACKATHON #1</h3>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-footer" id="footer-right">
            <h3>Copyright</h3>
    </div>
</div>