<!doctype html>
<html lang="en">
    {{ include('partials/head.html.twig') }}
<body>
    {{ include('form.html.twig') }}
    {{ include('list.html.twig') }}
    {{ include('partials/script.html.twig') }}
</body>
</html>